*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
SASHA.pdf filter=lfs diff=lfs merge=lfs -text
falcon_core/images/hafed_tsu_dig.png filter=lfs diff=lfs merge=lfs -text
falcon_core/images/semantic_dig.png filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/KfbSlide/ImageOperationLib.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/KfbSlide/libImageOperationLib.so filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/KfbSlide/libkfbslide.so filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/KfbSlide/msvcp100.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libcairo-2.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libgdk_pixbuf-2.0-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libgio-2.0-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libglib-2.0-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libgobject-2.0-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libintl-8.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libjpeg-62.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libopenjp2.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libopenslide-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libpixman-1-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libpng16-16.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libsqlite3-0.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libtiff-5.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libxml2-2.dll filter=lfs diff=lfs merge=lfs -text
falcon_core/wsi_core/OtherSlide/openslidec/libzip.dll filter=lfs diff=lfs merge=lfs -text
scenarios.json filter=lfs diff=lfs merge=lfs -text
